:root {
  /* Dark */
  --background: #090909;
  --navbar: #090909;
  --card: #151515;
  --card-inlay: #0e0e0e;
  --button: #222222;
  --hover: #2e2e2e;
  --text: #E6E6E6;
  --text-active:#D4A27F;
  --text-muted: #A0A0A0;
}

/* Light */
body.light-theme {
  --background: #E0E0E0;
  --navbar: #E0E0E0;
  --card: #EBEBEB;
  --card-inlay: #D8D8D8;
  --button: #CCCCCC;
  --hover: #BFBFBF;
  --text: #333333;
  --text-active: #8B5E3C;
  --text-muted: #666666;
}

/* OLED */
body.oled-theme {
  --background: #000000;
  --navbar: #000000;
  --card: #050505;
  --card-inlay: #1a1a1a;
  --button: #202020;
  --hover: #303030;
  --text: #E6E6E6;
  --text-active: #E6E6E6;
  --text-muted: #A0A0A0;
}

/* Discord */
body.discord-theme {
  --background: #121214;
  --navbar: #1A1A1E;
  --card: #1A1A1E;
  --card-inlay: #17171B;
  --button: #212125;
  --hover: #323235;
  --border: #222;
  --text: #fff;
  --text-active: #fff;
  --text-muted: #999;
}

/* Steam */
body.steam-theme {
  --background: #2D333C;
  --navbar: #171D25;
  --card: #171D25;
  --card-inlay: #23252A;
  --button: #25272D;
  --hover: #3E4047;
  --text: #E6E6E6;
  --text-active: #1A9FFF;
  --text-muted: #A0A0A0;
}
